@value makerWhite, makerNavbar, makerAccent from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 3em;
  text-align: center;
}

.home_image {
  width: 800px;
  height: 300px;
}

.home_maker {
  color: makerWhite;
  font-size: 20px;
  font-weight: bold;
  margin: 24px;
  padding: 12px 18px;
  background: makerNavbar;
  border-radius: 4px;
  border: none;
}

.home_maker:hover {
  background: makerAccent;
  cursor: pointer;
}

@media screen and (max-width: mediaQuery) {
  .home_image {
    width: 100%;
  }
}
