@value makerWhite, makerNavbar, makerAccent from '../../common/colors.css';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.3vh;
  padding: 40px;
  padding-top: 60px;
  text-align: center;
}

.home_image {
  width: 800px;
  height: 400px;
}

.home_maker {
  color: makerWhite;
  font-size: 20px;
  font-weight: bold;
  margin: 24px;
  padding: 12px 18px;
  background: makerNavbar;
  border-radius: 4px;
  border: none;
}

.home_maker:hover {
  background: makerAccent;
  cursor: pointer;
}
