





/* @value makerAccent, makerNavbar, makerWhiteGrey from '../../../common/colors.css';
@value mediaQuery from '../../../common/size.css';

a {
  color: makerWhiteGrey;
  text-decoration: none;
}

.header {
  display: flex;
  width: 100%;
  height: 66px;
  background-color: makerNavbar;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 1.1rem;
  color: makerWhiteGrey;
  position: sticky;
  top: 0;
  border-bottom: 2px solid makerAccent;
  z-index: 10;

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navbar_logo_container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 38px;
  border-radius: 50%;
}

.navbar_logo_container a {
  margin-left: 10px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  position: relative;

  
}

.menu a {
  padding: 8px 12px;
}

.menu :hover {
  background-color: makerAccent;
  border-radius: 4px;
}

.navbar_toggleBtn {
  position: absolute;
  right: 22px;
  top: 22px;
  font-size: 24px;
  display: none;
} */

/* @media screen and (max-width: mediaQuery) {
  .navbar {
    flex-direction: column;
    padding: 20px 24px;
    align-items: flex-start;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
  } */
/* } */
